.booking1 {

}
.booking1 > * {

}
@media only screen and (min-width: 700px) {
    .booking1 .box1, .box2{
        height: 22vh;
        /* border: 1px solid red; */
        margin: 52px auto 0;
        width: 90%;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #949494;
    }
    .box2 {
        margin-top: 0;
        box-shadow: 0px 5px 5px #949494;
    }

}