.booking1 {

}
.booking1 > * {

}
@media only screen and (min-width: 700px) {
    .booking1 .box1, .box2{
        height: 22vh;
        /* border: 1px solid red; */
        margin: 52px auto 0;
        width: 90%;
        border-radius: 3px;
        box-shadow: 0px 0px 3px #949494;
    }
    .box2 {
        margin-top: 2px;
        /* border-top: 2px solid #949494; */
        border-bottom: none;
        box-shadow: 0px 0px 4px #949494;
    }

}