* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
header {
    height: 100vh;
    /* background-image: url('../homebg.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-position: right; */
    /* background-attachment: fixed; */
    /* background-position: right; */
    /* background-color: rgb(176, 176, 196); */
    background-image: url('../bghome.jpg');
    background-size: cover;
    background-position: -10%;
    background-attachment: fixed;
}
a {
    text-decoration: none;
}
.logo {
    border-radius: 20px;
}
.navbar {
    position: sticky;
    top: 0;
}
.sec1 {
    height: 80vh;
    width: 50%;
    /* position: relative;
    /* right: 0px; */
    /* left: 20vw;
    top: 20px;  */
    margin-left: auto;
}
.sec1 h1 {
    width: 100%;
    font-size: 2.5rem;
    color: rgb(49, 49, 134);
    /* padding: 10px; */
}
.sec1 p {
    font-size: 1.4rem;
}
.sec2 div {
    /* width: 50%; */
    
}