@keyframes arrowd {
    from {
        transform: translateX('-50px');
    }
    to {
        transform: translateX('0');
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;   
}
header {
    background-image: url('../bghomem.png');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 43%;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: sticky;
    top: 0;
    margin-right: 10vw;
}
.navmenu {
    position: fixed;
    right: -1000px;
}
.navmenu.active {
    right: 0;
}
.toggler {
    /* margin-left:  20vw; */
}
.toggleimg {
    width: 50px;
    height: 50px;
}
.sec1 {
    width: inherit;
    margin-top: 83vh;
    /* background-color: rgb(232, 238, 232); */
    padding: 0 10px;
}
.sec1 h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}
.arrowdown {
    border: 1px solid red;
    position: absolute;
    bottom: 13vh;
    right: 5vh;
}
.arrowd {
    width: 100px;
    height: 100px;
    animation: arrowd 40s ease-in;
}


@media only screen and (min-width: 700px) {
    header {
        height: 100vh;
        background-image: url('../bghome.jpg');
        background-size: cover;
        /* background-position: -10%; */
        background-attachment: fixed;
        color: white;
        padding-top: 5vh;
        /* animation: change 10s infinte ease-in; */
    }
    .change {
        animation: change 5s infinite ease-in;
        /* animation: change 10s 1 5s iteration-count direction ease-in; */
    }
    .navbar {
        padding: 2% 5%;
    }

    .logo {
        color: white;
    }
    .toggler {
        display: none;
    }
    .navmenu {
        right: 0;
        padding-right: 5%;
    }
    .sec1 {
        height: 80vh;
        width: 50%;
        margin-left: auto;
        margin-top: 15vh;
    }
    .sec1 h1 {
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
    
    }
    .sec1 p {
        font-size: 1.4rem;
    }
    .arrowd {
        display: none;
    }
    .btn {
        width: 15vw;
        height: 10vh;
        font-size: 1.7rem;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 70px;
    }
    .btn:hover, .btn:focus {
        cursor: pointer;
    }
    .btn1 {
        background-color: black;
        color: white;
        margin-right: 2vw;
        border: 1px solid white;
    }
    .btn2 {
        background-color: white;
        color: black;
    }
    .btn1:hover, .btn1:focus {
        background-color: white;
        color: black;
        border: 1px solid blue;
    }
    .btn2:hover, .btn2:focus {
        background-color: black;
        color: white;
        border: 1px solid blue;

    }
    
}
@keyframes change {
    /* from {
        background-image: url("../bghome.jpg");
    }
    to {
        background-image: url("../bghomed.jpg");
    }
    0% {
        background-image: url("../bghome.jpg");
    } */
    /* 0% {
        background-image: url("../bghome.jpg");
    }
    50% {
        background-image: url("../bghomed.jpg");
    }
    100% {
        background-image: url("../bghome.jpg")
    } */
}