* {
    /* border: 1px solid red; */
}
.other {
    background-color: var(--btn-color);
    margin-bottom: 5vh;
    color: #fff;
}
.vary2 {
    height: 40vh;
    width: 65vw;
    padding: 3%;
    position: relative;
    left: 25vw;
    top: -12vh;
    /* left: -2vw; */
    background-color: #fff;
    /* display: inline-block; */
    color: var(--h-color);
}
.stretch {
    width: 60vw;
    padding-left: 10px;
}
@media only screen and (min-width: 700px) {
    .other-p {
        min-height: fit-content;
        font-weight: 700;
        font-size: 3rem;
        padding: 5% 8%;
    }
    .vary {
        display: flex;
        margin: auto;
        align-items: center;
        margin-top: 8vh;
    }
    .stretch {
        position: relative;
        left: 10vw;
        width: 100%;
    }
    .vary2 {
        min-height: 50vh;
        width: 30vw;
        padding: 3%;
        position: relative;
        left: -2vw;
        background-color: #fff;
        /* display: inline-block; */
        color: var(--h-color);
    }
    .vary2 .h {
        color: var(--btn-color);
        font-size: 2.2rem;
        font-weight: bold;
    }
    .vary2 .h, .vary2 p {
        text-align: left;
    }
    .vary2 .para {
        margin-top: 2vh;
        font-size: 1rem;
    }
    
    .vary3 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 12vh;
        /* border: 1px solid red; */
    }
    .vary3 .stretch {
        position: relative;
        left: -10vw;
    }
}




