* {
    /* border: 1px solid red; */
}
.sec3 {
    border: 1px solid red;
    height: 270vh;
}
.other {
    background-color: var(--btn-color);
    margin-bottom: 5vh;
    color: #fff;
}
.other-p {
    min-height: 60vh;
    padding: 3%;
    font-size: 2rem;
}
.vary2 {
    height: 46vh;
    width: 70vw;
    padding: 3%;
    position: relative;
    left: 25vw;
    top: -12vh;
    padding: 20px;
    background-color: #fff;
    color: var(--h-color);
}
.stretch {
    width: 60vw;
    /* padding-left: 10px; */
}
.vary2 .h, .vary2 p {
    text-align: left;
}
.vary2 .h {
    color: var(--btn-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.vary2 .para {
    margin-top: 2vh;
    font-size: 1rem;
}
.vary3 > .stretch2 {
    /* display: ; */
    position: relative;
    /* float: right; */
}
.vary3 > .vary2 {
    position: relative;
    left: 20vw;
    /* top: 38vh; */
}
@media only screen and (min-width: 700px) {
    .vary3 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 12vh;
        /* flex-wrap: nowrap; */
        /* border: 1px solid red; */
    }
    .vary3 .stretch {
        position: relative;
        left: -10vw;
    }
    .other-p {
        min-height: fit-content;
        font-weight: 700;
        font-size: 3rem;
        padding: 5% 8%;
    }
    .vary {
        display: flex;
        margin: auto;
        align-items: center;
        margin-top: 8vh;
    }
    .stretch {
        position: relative;
        left: 10vw;
        width: 55%;
    }
    .vary3 > .stretch {
        /* width: 200vw; */
        position: relative;
        left: 50px;
    }
    .vary3 > .vary2 {
        top: 0;
    }
    .vary2 {
        min-height: 50vh;
        width: 30vw;
        padding: 3%;
        position: relative;
        left: -1vw;
        background-color: #fff;
        /* display: inline-block; */
        color: var(--h-color);
    }

    
    
}




