.process {
    background-color: rgb(45,77,68);
    padding: 5vh 2vw;
    margin-top: 5vh;
    height: fit-content;
}
.process p {
    color: #fff;
}
.process .p2 {
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 0 15% 5%;
}
@media only screen and (min-width: 700px) {
    .size1 {
        width: 25vw;
    }
    .size2 {
        width: 25vw;
        height: 30vh;
    }
}