.process {
    background-color: rgb(45,77,68);
    padding: 5vh 2vw;
    margin-top: 5vh;
    height: fit-content;
}
.process p {
    color: #fff;
}
.process .p2 {
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 0 15% 5%;
}
@media only screen and (min-width: 700px) {
    .images {
        padding: 0 2vw;
    }
    .toes, .seats, .undress {
        width: 25vw;
    }
    .toes {
        height: 40vh;
        padding-right: 3vw;
    }
    .seats {
        height: 70vh;
    }
    
    .toes {
        /* height: 40vh;  */
        /* padding-left: 5vw; */
    }
    .block1 {
        padding-bottom: 5vh;
        display: flex;
    }
    .undress {
        position: relative;
        top: -27vh;
        padding-right: 3vw;
    }
}