
.sec1, .sec2 {
    padding: 0 5%;
}
.sec1 h1 {
    font-size: 2rem;
    color: var(--h-color);
    /* text-align: center; */
    margin: 5vh auto;
    font-weight: bold;
}
.sec1 .main-img {
    width: 72vw;
    height: 45vh;
    margin: auto;
    /* text-align: center; */
}
.sec1 h3 {
    font-size: 1.5rem;
    color: var(--h-color);
    margin: 10vh auto;
    font-weight: bold;
}
@media only screen and (min-width: 700px) {
    
    .sec1 {
        width: 80%;
        min-height: 60vh;
        margin: 0 auto;
        text-align: center;
    }
    .sec1 h1 {
        font-size: 3.8rem;
        font-weight: bold;
        padding: 0 5vw 5vh;
    }
    .sec1 .main-img {
        text-align: center;
        width: 90%;
        height: 100%;
        margin: 4vh auto;
    }
    .sec1 h3 {
        font-size: 2rem;
        color: var(--h-color);
        font-weight: bold;
        /* margin-top: 10vh; */
        margin: 20vh auto;
        padding: 0 6%;
    }

}