nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.7% 4%;
}
.nav-link {
    color: var(--link-color);
}
.logo {
    font-size: var(--h-size);
}
.navmenu {
    display: none;
}
.sec1 h1 {
    font-size: 3rem;
    color: var(--h-color);
}
@media only screen and (min-width: 700px) {
    .nav-link {
        font-size: var(--link-size);
    }
    .blog-link {
        padding-right: 1.4rem;
    }
    .sign-btn {
        padding: 20px 30px;
        background-color: var(--btn-color);
        border: none;
        color: var(--t-color);
        font-weight: bold;
    }
    .sign-btn:hover, .sign-btn:focus {
        background-color: #3b5c53;
    }
    .logo {
        font-size: 2rem;
        color: var(--h-color);
        font-weight: 600;
    }
    .sec1 {
        width: 80%;
        border: 1px solid red;
        min-height: 60vh;
        margin: 0 auto;
        text-align: center;
    }
    .sec1 h1 {
        font-size: 3.7rem;
        font-weight: bold;
        padding: 0 15vw;
    }
    .sec1 .main-img {
        text-align: center;
        width: 90%;
        height: 100%;
        margin: 4vh auto;
    }
    .sec1 h3 {
        font-size: 2.2rem;
        color: var(--h-color);
        /* font-weight: bold; */
        margin-top: 5vh;
        padding: 0 6%;
    }
}